<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Gab detail!</h1>
    {{#models}}
      <h1>{{username}}</h1>
      <p>{{message}}</p>

    {{/models}}
  </body>
</html>
