<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Gab detail!</h1>
    {{#models}}
      <p>{{message}}</p>
      <p>{{likes.length}}: how many likes this gab has</p>
      <p>{{user_id}}: user who created gab</p>
    {{/models}}
  </body>
</html>
