<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{#models}}
    {{message}}
    {{id}}
    <form class="" action="/gab/{{id}}" method="post">
      <input type="submit" name="" value="like">
    </form>
    <p>Delete your gab?</p>
    <form class="" action="/delete/{{id}}" method="post">
      <input type="submit" name="" value="delete">
    </form>

    <p>{{likes.length}}likes</p>
    <br>
    <form class="" action="/detail/{{id}}" method="post">
      <input type="submit" name="" value="see who liked">
    </form>
    {{/models}}
      <h3>Create a gab!</h3>
    <form class="" action="/gab" method="post">
      <!-- parser graps from the name ie req.body.gab -->
      <input type="text" name="gab" value="">
      <input type="submit" name="" value="submit">
    </form>
    <!-- create a delete session button -->
    <form class="" action="/logout" method="post">
      <input type="submit" name="" value="log out">
    </form>



  </body>
</html>
