<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

  <h1>Please sign in</h1>

    <div class="signinDiv">
      <form class="sign-in" action="/signin" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Sign In">
      </form>
    </div>

  <h2>Or sign up!</h2>

    <div class="signupDiv">
      <form class="sign_up" action="/signup" method="post">
        <input type="text" name="first_name" placeholder="Your First Name">
        <input type="text" name="last_name" placeholder="Your Last Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" name="" value="Sign Up">
      </form>
    </div>

  </body>
</html>
